.parinte{
    display: grid;
    height: 66%; 
    width: 70%;
    padding: 8px;
    border-style: dotted;
    border-color: black;
    border-width: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    gap: 10px;
    transition: transform 2.5s;
    transition: background-color 2.5s;
    transition: border-color 2.5s;
}

.c1, .c3, .c5, .c7{
    background-color: brown;
}

.c2, .c4, .c6{
    background-color: aqua;
}

.c1{
    grid-column: 1/2;
}
.c2{
    grid-column: 2/4;
}
.c3{
    grid-column: 4/7;
}
.c4{
    grid-column: 1/3;
    transition: transform 2.5s;
}
.c5{
    grid-column: 1/3;
    transition: transform 2.5s;
}
.c6{
    grid-column: 1/3;
    grid-row:7/8;
}
.c7{
    grid-column: 3/7;
    grid-row: 2/8;
}

.parinte:hover{
    border-color: purple;
    background-color: yellow;

}


.c4:hover{
    transform: scale(1.2);
}

.c5:hover{
    transform: scale(1.2);
}

@media (max-width: 600px){
    .parinte{
        width: 95%;
        display:flex;
        flex-direction: column;
    }
}